extends base

block content
  main.main
    .initial-form
      h2.heading-secondary.ma-bt-lg Confirmation email sent!
      h2.heading-secondary.ma-bt-lg Please confirm your email to finish signing up