extends base

block content
  main.main
    .initial-form
      h2.heading-secondary.ma-bt-lg Check your email! We sent you a link to confirm your email address. To finish signing up please confirm your email!