extends base

block content
  main.main
    .initial-form.reset-password-form
      h2.heading-secondary.ma-bt-lg Enter your new password
      form.form.form--reset-password
        .form__group
          label.form__label(for='password') New password
          input#reset-password.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group.ma-bt-lg
          label.form__label(for='password-confirm') Confirm password
          input#reset-password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
        .form__group
          button.btn.btn--green#reset-password-btn(data-token=`${token}`) Reset Password